---
title: Home
---
<h1>Commit Snapshots of Robert Curth</h1>

<% weekly_shots.each do |week, shots| %>
  <h2>Week <%= week %></h2>
  <% shots.each do |shot| %>
    <img src="<%= shot.path %>" width="460" />
  <% end %>  
<% end %>
